.main
  .message__tab.message__btn__normal
    新着順
  .message__tab.message__btn__rank
    お気に入り順
  .messages
    - @messages.each do |message|
      .message.message__normal
        .message__content
          .message__content__image
            = link_to  message_path(message.id) do
              - message.images.first(1).each do |image|
                = image_tag image.image.thumb.url, height: "100%", width: "100%"
          .message__content__content
            %p#text
              = message.content
 
    - @all_ranks.each do |message|
      .message.message__rank
        .message__content
          .message__content__image
            = link_to  message_path(message.id) do
              - message.images.first(1).each do |image|
                = image_tag image.image.thumb.url, height: "100%", width: "100%"
          .message__content__content
            %p#text
              = message.content
    -# - @list_tags.each do |tag|
    -#   .message.message__type
    -#     .message__content
    -#       .message__content__image
    -#         = link_to  message_path(message.id) do
    -#           - message.images.first(1).each do |image|
    -#             = image_tag image.image.thumb.url, height: "100%", width: "100%"
    -#       .message__content__content
    -#         %p#text
    -#           = message.content
    -# .message
    -#   .message__content
    -#     .message__content__image
    -#       000
    -#     .message__content__content
    -#       %p#text ya----ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    