.message__new
  = render "header"

  .message__new__post
    %p.post__title 編集する
    = form_for @message do |f|
      .new-wrapper
        .new-wrapper__main
          .new-wrapper__main__post
            #image-box__edit
              %label{class: "flexbox", action: request.path}
                .new-wrapper__main__image
                  %i{class: "fas fa-camera"}

                    = f.fields_for :images do |i|
                      = i.file_field :image, {class: "file-field", name: "message[images_attributes][#{@message.images.length}][image]", id: "message_images_attributes_#{@message.images.length}_image"}
                      = i.file_field :image, {class: "file-field", type: "file"}
                      - if @message.persisted?
                        = i.check_box :_destroy, {class: "hidden"}
              
              .new-wrapper__main__title 投稿画像
              - @message.images.each_with_index do |image, index|
                .item-image{ id: "item-image#{index}" }
                  .item-image__content
                    .item-image__content--icon
                      = image_tag image.image.url, width: "110", height: "100", alt: "preview"
                  .item-image__operetion
                    .item-image__operetion--delete--edit{ index: "#{index}" }
                      削除
          .new-wrapper__main__content
            = f.text_area :content, {class: "new-wrapper__main__content--text", placeholder: "文字を入力してください" }
          .new-wrapper__main__tag
            Type:
            = f.collection_select :tag_ids, Tag.all, :id, :tag_name  
            %br
            = f.fields_for :tag do |i|
              = i.text_field :tag_name, {class: "other__choise", placeholder: "何か種類があれば入力してください" }
          .new-wrapper__main__submit
            = f.submit "送信する", {class:"new-wrapper__main__submit--btn"}


