= render "header"
-# = render "side_bar"
.message_show
  .show
    .more
      %span
        =image_tag 'arrow_top.png'
      %ul.more__list 
        %li
          = link_to "削除", message_path(@message.id), method: "delete"
          = link_to "編集", edit_message_path(@message.id)
    .show__image
      - @message.images.each do |image|
        = image_tag image.image.url, {class: "show__image__tag", width: "100px", height: "200px"}
    
    .show__message
      = simple_format(@message.content)
    
      .show__message__user
        .show__message__user__info
          .show__message__user__info__name 
            = link_to "投稿者: #{@message.user.name}", user_path(@message.user.id)
          .show__message__user__info__time
            = @message.created_at.strftime("%Y年%m月%d日 %H時%M分")

    .like{ id: "link-#{@message.id}"}
      = render partial: "likes/like", locals: {message: @message}

    .show__comment
      -if current_user
        =form_for [@message, @comment] do |f|
          =f.text_area :text, placeholder: "コメントする", rows: "2", class: "show__comment__text"
          =f.submit "SENT", class: 'show__comment__form'
      - else 
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .show__comments
      %h6.show__title <コメント一覧>
      .show__comments__comment
        - if @comments 
          - @comments.each do |comment|
            .comment 
              %strong 
                =link_to "#{comment.user.name}:", "#", class: "show__comments__comment__name"
              .show__comments__comment__text
                = simple_format(comment.text)
  
    
