= render "header"
-# = render "side_bar"
.show
  .more
    %span
      =image_tag 'arrow_top.png'
    %ul.more__list 
      %li
        = link_to "削除", message_path(@message.id), method: "delete"
        = link_to "編集", edit_message_path(@message.id)
  .show__image
    - @message.images.each do |image|
      = image_tag image.image.url, {class: "show__image__tag"}
  
  .show__user
    -# {id: "like-link-#{@message.id}"}
    -# .like-link{id: "like-link-#{@message.id}"}
    -#   -if current_user.likes.find_by(message_id: @message.id)
    -#     = link_to unless_path(@message.id), method: :delete, remoto: true do
    -#       .like-link__delete__btn{id: "delete__btn#{@message.id}"}
    -#         = @message_likes.count.to_s
    -#   - else  
    -#     = link_to like_path(@message.id), method: :post, remoto: true do
    -#       .like-link__delete__btn{id: "delete__btn#{@message.id}"}
    -#         = @message.likes.count.to_s
    .like{ id: "link-#{@message.id}"}
      = render partial: "likes/like", locals: {message: @message}
      -# = render 'likes/like_links', tweet: tweet
    .stats
      = render 'shared/stats'

    %p.show__user__name 
      = @message.user.name
    %p.show__user__time
      = @message.created_at
  .show__message
    = simple_format(@message.content)

  .show__comment
    -if current_user
      =form_for [@message, @comment] do |f|
        =f.text_area :text, placeholder: "コメントする", rows: "2", class: "show__comment__text"
        =f.submit "SENT", class: 'show__comment__form'
    - else 
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  .show__comments
    %h6.show__title <コメント一覧>
    .show__comments__comment
      - if @comments 
        - @comments.each do |comment|
          .comment 
            %strong 
              =link_to "#{comment.user.name}:", "#", class: "show__comments__comment__name"
            .show__comments__comment__text
              = simple_format(comment.text)
 
    
