- if user_signed_in?
  - if message.like_user(current_user.id)
    = button_to unlike_path(message.id), method: :delete, id: "like-button", remote: true do
      %i{class: "fas fa-heart"}
      -# %i{class: "fas fa-camera"}
      -# = icon('far', 'edit')<i class="far fa-heart"></i>
      -# .like-link__delete__btn{id: "delete__btn#{message.id}"}
        -# = message.likes.count.to_s
        = message.likes.count
  - else  
    = button_to like_path(message.id), method: :post, id: "like-button", remote: true do
      -# .like-link__delete__btn{id: "delete__btn#{message.id}"} 
      %i{class: "far fa-heart"}
        = message.likes.count
- else 
  %i{class: "far fa-heart"}
  %i{class: "fas fa-heart"}
    = message.likes.count

-# = message.likes.count.to_s
-# .like-link{id: "like-link-#{@message.id}"}
-#   -if current_user.likes.find_by(message_id: @message.id)
-#     = link_to unless_path(@message.id), method: :delete, remoto: true do
-#       .like-link__delete__btn{id: "delete__btn#{@message.id}"}
-#         = @message_likes.count.to_s
-#   - else  
-#     = link_to like_path(@message.id), method: :post, remoto: true
-#       .like-link__delete__btn{id: "delete__btn#{@message.id}"}
-#         = @message.likes.count.to_s
