-# - provide(:title, @user.name)
= render "messages/header"
.row
  .user__profiel
    - if @user.pfofiel.presence
      .user__profiel__image
        = image_tag @user.pfofiel.url, height:'100%' ,width: "100%"
    - else 
      .user__profiel__image
        %P.noimage NO IMAGE
    .user__profiel__content
      .user__profiel__content--name
        = @user.name
      - if logged_in? && current_user.id == @user.id
        .botton__edit__delete
          = button_to "削除", @user, method: :delete, class: "botton__edit__delete--btn"
          = button_to "編集", edit_user_path(@user.id), method: 'get', class: "botton__edit__delete--btn"
          = button_to "投稿", new_message_path, method: 'get', class: "botton__edit__delete--btn"
      .user__profiel__content--count
        投稿した回数 
        %br
        = @user.messages.count
      .user__profiel__content--follow
        = render 'follow_form' if logged_in?
        -#  render partial: "likes/like", locals: {message: @message}
    .user__profiel__follow
      = render 'shared/stats'
    
  .user_show__image.user_show__posts
    - @messages.each do |message|
      .user_show__image__posts
        - message.images.first(1).each do |image|
          .user_show__image__post
            = link_to  message_path(message.id) do
              = image_tag image.image.url, {class: "show__image__tag" , height: "100%" ,width: "100%"}
          .user_show__image__content
            .user_show__image__content--text
              =message.content
            - if logged_in?
              .like{ id: "link-#{message.id}"}
                = render partial: "likes/like", locals: {message: message}
            .user_show__image__content--time
              = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  
  -# .user_show__image.user_show__follwing
  -#   = render 'following'

  -# .user__followed
  -#   %session.stats
  -#     = render 'shared/stats'



  -# %aside.col-md-4
  -#   %session.user_info
  -#     = gravatar_for @user
  -#     = @user.name
  -#   - if current_user.admin? && !current_user?(@user)
  -#     = link_to "削除", @user, method: :delete, data: {confim: "You sure" }
  -#   - if logged_in? && current_user.id == @user.id
  -#     = link_to "削除", @user, method: :delete
  -#     = link_to "編集", edit_user_path(@user)
  

 