= render "messages/header"
.row
  .user__profiel
    - if @user.pfofiel.presence
      .user__profiel__image
        = image_tag @user.pfofiel.url, height:'100%' ,width: "100%"
    - else 
      .user__profiel__image
        = image_tag "member_photo_noimage_thumb.png", {height: "100%" ,width: "100%"}
        -# %P.noimage NO IMAGE
    .user__profiel__content
      .user__profiel__content--name
        = @user.name
      - if logged_in? && current_user.id == @user.id
        .botton__edit__delete
          = button_to "削除", @user, method: :delete, class: "botton__edit__delete--btn"
          = button_to "編集", edit_user_path(@user.id), method: 'get', class: "botton__edit__delete--btn"
          = button_to "投稿", new_message_path, method: 'get', class: "botton__edit__delete--btn"
      .user__profiel__content--count
        投稿した回数 
        %br
        = link_to @user.messages.count, @user
      - unless @current_user == @user
        .user__profiel__content--follow
          = render 'follow_form'
    .user__profiel__follow
      = render 'shared/stats'

  .user_show__image.user_show__follwing
    - @users.each do |user|
      .user_show__image__posts
        .user_show__image__post
          = link_to  user_path(user.id) do
            - if user.pfofiel.presence
              = image_tag user.pfofiel.url, {class: "show__image__tag" , height: "100%" ,width: "100%"}
            - else 
              -# %P.noimage NO IMAGE
              = image_tag "member_photo_noimage_thumb.png", {class: "show__image__tag" , height: "100%" ,width: "100%"}
        .user_show__image__content
          .user_show__image__content--text
            = user.name
          -# .user__profiel__content--follow
          -#   - if @current_user == @user
          -#     -if current_user.followers?(user)
          -#       =form_for(current_user.active_relationships.find_by(followed_id: user.id),html: { method: :delete }, remote: true) do |f|
          -#         = f.submit "フォロー解除", class: "btn"
              -# - else
              -#   = form_for(current_user.active_relationships.build, remote: true) do |f|
              -#     =f.hidden_field :followed_id, value: user.id
              -#     =f.submit "フォロー", {clsss: "btn btn-primary"}

-# https://docs.google.com/document/d/1aGdECO1Zq7J8AO3DEyq_G2jBpge_7kN45I5fXbl98-A/edit?usp=drivesdk
-# https://docs.google.com/document/d/10CvPolWYUd_eqafZeeFXEpZdhq5_Yyai6h93TOx1sNY/edit?usp=sharing
-# https://docs.google.com/document/d/1BKB7kFp_erJAc63W4BKdzNgRwe7_OvO4MlECXT_iaJA/edit?usp=sharing
-# https://docs.google.com/document/d/10CvPolWYUd_eqafZeeFXEpZdhq5_Yyai6h93TOx1sNY/edit?usp=sharing
-# https://docs.google.com/document/d/10CvPolWYUd_eqafZeeFXEpZdhq5_Yyai6h93TOx1sNY/edit#