.wrapper
  = render "messages/header"
  = render "messages/side_bar"

  .main
    .messages

      - @tags.each do |tag|
        - tag.messages.each do |message|
          .message.message__normal
            .message__content
              .message__content__image
                = link_to  message_path(message.id) do
                  - message.images.first(1).each do |image|
                    = image_tag image.image.thumb.url, height: "100%", width: "100%"
              .message__content__content
                %p#text
                  = message.content 
    
    -# = paginate(@tags)
    -# = paginate(@messages)